#window {
  background-color: rgba(0, 0, 0, 0);
}

list#main {
  margin-top: 10px;
  border-radius: 8px;
  background-color: alpha(@theme_bg_color, 0.94);
  box-shadow: 0px 10px 10px 0px alpha(#5de9b3, 0.2);
}

#plugin {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
}

box#plugin {
  padding: 3px;
}

label#match-desc {
  font-size: 10px;
}

label#plugin {
  font-size: 14px;
}

#entry {
  border-radius: 8px;
  background-color: @theme_bg_color;
  box-shadow: 0px 0px 3px 1px #5de9b3;
}

#match {
  padding: 4px;
  border-radius: 8px;
}