* {
  all: unset; //Unsets everything so you can style everything from scratch
}

$bg-color: rgba(23, 63, 54, 0.918);
$volume-color: rgb(245, 149, 93);
$accent-color: rgb(93, 233, 179);
$slider-color: rgb(236, 135, 76);

//Global Styles
.bar_class {
  background-color: transparent;
  border-radius: 8px;
  transition-property: box-shadow;
  transition-duration: 00ms;
  transition-timing-function: ease-in-out;
}
.modules {
  padding: 0px 14px;
}
.modules-eventbox {
  background-color: $bg-color;
  border-radius: 8px;
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.modules-eventbox:hover {
  box-shadow: inset 0px 0px 0px 2px $accent-color;
}
.hovered {
  box-shadow: inset 0px 0px 0px 2px $accent-color;
}

.module {
  margin: 0px 0px 0px 0px;
  border-radius: 10px 16px 0px 10px;
}


.metric scale trough highlight {
  all: unset;
  background-color: $accent-color;
  color: #000000;
  border-radius: 2px;
}
.metric scale trough {
  all: unset;
  background-color: black;
  border-radius: 2px;
  min-height: 6px;
  min-width: 50px;
}


.clock_time_sep {
  font-size: 16;
  color: #bfc9db;
  margin: 0px 0px 1px 0px;
}
.clock_time_class, .clock_minute_class {
  font-size: 18;
}
.clock_date_class {
  font-size: 14;
  margin: 0px 0px -3px 7px;
  color: #d7beda;
}
.clock_minute_class {
  color: #bfc9db;
}

.clock_time_class {
  color: #bfc9db;
  font-weight: bold;
}


tooltip.background {
  background-color: $bg-color;
  font-size: 14;
  border-radius: 6px;
  color: #bfc9db;
}

tooltip label {
  margin: 3px;
}

.volume_icon {
  font-size: 18;
  color: $volume-color;
  margin: 0px 0px -5px 0px;
}

